@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.sora-gadget {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

div.star-rating-star-container,
div.star-rating-star-container a {
  filter: hue-rotate(10deg) brightness(2.3) saturate(1.5);
}
